#grad {
    -fx-background-color: linear-gradient(to left bottom, #00BFFF, #FF1493);
}

.label {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #00BFFF 0%, #FF1493 75%);;
    -fx-effect: dropshadow(three-pass-box, rgb(75, 0, 130), 20, 0.75, 0, 0);
}

.label .text {
    -fx-stroke: #000000;
    -fx-stroke-width: 0.5px;
}

.button
{
    -fx-padding: 5 10 5 10;
    -fx-border-color: #FF8C00;
    -fx-border-width: 1;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #000000;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #FFD700;
}

.button:hover
{
    -fx-background-color: #D2691E;
}